.header {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.header-right {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

input[type="search"] {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 10px;
  text-align: center;
  outline: none;
  font-size: 16px;
}

input[type="text"] {
  outline: none;
  text-align: center;
  font-size: 16px;
}
button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 10px;
}
